/*** NOTE: THIS IS A DESKTOP-ONLY LAYOUT. THE SITE LAYOUT WILL BREAK ON SMALLER SCREENS. WILL BE ADDED IN SOON..***/
/* google icon style*/
.material-symbols-outlined {
  color: white;
  display: none;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

@font-face {
  font-family: font1;
  src: url(./assets/fonts/Host_Grotesk/HostGrotesk-VariableFont_wght.ttf);
}

@font-face {
  font-family: druk;
  src: url(./assets/fonts/Druk\ Wide\ Bold\ Regular.ttf);
}

/* =============== BASIC LAYOUT ==============*/

html {
   scroll-behavior: smooth;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  outline: none;
  text-decoration: none;
  font-family: font1;
  transition: 0.3s;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--prim-blue);
}

:root {
  --prim-blue: rgb(1, 7, 22);
  --prim-blue-bg: rgba(4, 9, 22, 0.824);
  --white: rgb(172, 208, 231);
  --light-blue: #a1cbf6;
}

::selection {
  color: #fff;
  background-color: rgb(3, 82, 173);
}

:is(h1, .usr-name-handle) {
  font-family: druk;
}

/*=========================================*/

/* HEADER BG IMAGE (HERO SECTION)*/
header {
  background-image: url(./assets/bg-image/thumb-1920-1318499.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: color-dodge;
  background-attachment: fixed;
  background-color: var(--prim-blue-bg);
  height: 100dvh;
}

/* NAVBAR*/

nav {
  z-index: 1;
  width: 100%;
  height: 80px;
  line-height: 80px;
  display: flex;
  justify-content: center;
}

.nav-links a {
  color: var(--light-blue);
  font-size: 1.5rem;
  border-radius: 20px;
  padding: 0.2em 0.8em;
  margin: 0 0.2em;
}

.nav-links a:hover {
  background-color: rgba(6, 68, 212, 0.219);
  color: #fff;
}

#active {
  background-color: rgba(6, 68, 212, 0.354);
  color: #fff;
}

/* HERO SECTION (FIRST PAGE)*/

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80dvh;
  color: var(--white);
  text-align: center;
}

.hero-section h1 {
  font-size: clamp(2.4em, 8vw, 5rem);
  text-align: center;
}

.hero-section p {
  font-weight: 500;
  font-size: clamp(1.3rem, 4vw, 2rem);
  margin-bottom: 1.2rem;
}

.contin-btn {
  padding: 0.5em 3em;
  border-radius: 25px;
  font-size: 1.3rem;
  background-color: transparent;
  border: 1px solid var(--light-blue);
  color: var(--white);
  cursor: pointer;
}

.contin-btn:hover {
  background-color: var(--light-blue);
  color: var(--prim-blue);
}

/* ABOUT SECTION (SECOND SECTION/PAGE )*/

.about-sect {
  height: auto;
  background-color: var(--white);
  padding: 2em 5em;
}

.about-sect h1 {
  font-size: clamp(2rem, 8vw, 3rem);
  margin-bottom: 0.5em;
}

.about-sect p {
  line-height: 1.5em;
  font-size: clamp(0.2rem, 8vw, 1.2rem);
}


/* PROJECTS SECTION (THIRD PAGE/SECTION)*/

.proj-section {
  color: var(--white);
  padding: 2em clamp(0.3em, 8vw, 4%);
  height: auto;
  border-top: 1px solid rgba(1, 61, 85, 0.205);
  background-color: rgb(97, 171, 211);
}

.proj-section h1 {
  color: var(--prim-blue-bg);
  font-size: clamp(1em, 8vw, 2rem);
  text-align: center;
}

.projects-sect {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
  padding-bottom: 3em;
  margin-top: 2rem;
}

.card {
  cursor: pointer;
  width: 400px;
  height: auto;
  background-color: rgb(16, 16, 58);
  color: white;
  overflow: hidden;
  border-radius: 10px;
  flex-grow: 0;
}



.card h3 {
  font-size: clamp(1rem,8vw, 1.5rem);
  font-weight: 200;
  margin-bottom: 1em;
}


.card img {

width: 100%;
aspect-ratio: 16/10;
object-fit: cover;

}

.card-details {
  text-align: left;
  padding: 1.3em 1.2em;
  height: auto;
}

.card-options {
  
  display: flex;
  gap: 0.5em;
}

.card-options .btn {
  padding: .3em 1em;
  border-radius: 25px;
  font-size: clamp(.6rem, 8vw, 1.1rem);
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid lightblue;
  color: lightblue;
}

.card-options .btn:hover {
  background-color: lightblue;
  color: rgb(16, 16, 58);
}

.card:hover {
  background-color: rgb(8, 41, 113);
   box-shadow: 5px 10px 35px rgba(16, 36, 58, 0.4);
}

/* EMAIL FORM LAYOUT (BEFORE FOOTER )*/

.email-form {
  height: auto;
  color: var(--white);
  padding: 2em clamp(1.3rem, 8vw, 7%);
  margin-bottom: 0.2em;
  flex-wrap: wrap;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  background-color: rgba(11, 11, 25, 0.203);
  border-bottom: 1px solid var(--light-blue);
}

.email-form h3 {
  font-size: clamp(1rem, 8vw, 2.3rem);
  margin-right: 0.5em;
  color: white;
}

.footer .contact {
  float: right;
  display: flex;
}

.contact input {
  padding: 0.5em;
  font-size: 1rem;
  border-radius: 5px;
  max-width: 450px;
}

/* FOOTER (WITH LINKS ONLY)*/

.footer {
  display: flex;
  padding: 1em clamp(0.5rem, 8vw, 7%);
  height: auto;
  background-color: var(--prim-blue-bg);
}

.footer h5 {
  color: var(--white);
  font-size: 1rem;
  opacity: 60%;
  margin-top: 0.5em;
}

.scl-med {
  padding: 0;
  width: fit-content;
  display: flex;
  flex-direction: column-reverse;
  align-self: center;
}

.scl-med a {
  font-size: 1.8rem;
  font-weight: 900;
  color: var(--white);
  display: block;
  margin: 0.1em 0;
  opacity: 75%;
}

.scl-med a:hover {
  color: #fff;
  opacity: 100%;
}

/* mobile med */

@media screen and (max-width: 600px) {
  .material-symbols-outlined {
    display: block;
  }

  nav {
    display: flex ;
    justify-content: left;
    padding: 0 clamp(0.5em, 4vw, 19%);
  }

  #Hamburg-menu {
    font-size: 2.5rem;
    line-height: 80px;
    cursor: pointer;
    height: 50px;
  }

  #Hamburg-menu:hover {
    color: var(--light-blue);
  }

  .nav-links {
    position: absolute;
    top: 80px;
    background-color: rgba(5, 5, 21, 0.973);
    flex-direction: column;
    width: 100%;
    padding-bottom: 1em;
    display:flex;
    left: 0;
  }

  .nav-links a,
  #active {
    background-color: transparent;
    padding: 0 1em;
    margin: 0;
    border-radius: 0;
    font-size: 1.7rem;
    font-weight: 800;
  }

  .nav-links a:nth-child(-n + 3) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.555);
  }

  .nav-links #active {
    background-color: rgba(12, 12, 193, 0.475);
  }

  /* this color is a bit lighter than the active id on link.*/

  .nav-links a:hover {
    background-color: rgba(56, 56, 240, 0.336);
  }

  /* about section */

  .about-sect {
    padding: clamp(1rem, 8vw, 7%);
  }

  .skills-section {
    width: 100%;
  }

  /* Email form */
  .email-form {

    gap: 0.5em;
  }

  .email-form h3 {
    color: var(--white);
  }

  /* projects*/
  .projects-sect .card {
    flex-grow: 1;
  }

}

/* Larger screens */

@media screen and (max-width: 1024px)  {
  .projects-sect .card {
    flex-grow: 0;
  }

}

