@font-face {
  font-family: font1;
  src: url(./assets/fonts/Host_Grotesk/HostGrotesk-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
  font-family: font1;
  transition: 0.3s;
}

:root {
  --prim-blue: rgb(9, 41, 126);
  --white: rgb(238, 245, 255);
  --bg-color-dark:  rgb(18, 26, 72);
  --light-grey : rgb(95, 104, 144);
}

::selection {
  display: none;
}

body {
  background-color: var(--bg-color-dark);
  margin: 0;
}

main {
  height: auto;
}

h1, h2, p {
  color: var(--white);
}

section {
  height: 100dvh;
}

.main__header {
  width: 100%;
  text-align: center;
  padding: 10px;
}


.nav_bar_side {
  position: sticky;
  top:0px;
  right: 0;
  width: 100%;
  justify-self: center;
  background-color: rgba(153, 153, 243, 0.292);
  backdrop-filter: blur(14px);
}

.nav_bar_side ul {
  display: flex;
   justify-content: left;
}


.nav_bar_side a {
  display: block;
  font-size:  1.5rem;
  color:  var(--white);
   padding: 10px 16px;
}

.nav_bar_side a:hover {
  background-color: rgba(0, 0, 139, 0.237);
}

.about__sect {
   display: flex;
   justify-content: center;
   align-items: left;
   flex-direction: column;
  height: 60dvh;
  gap: 1em;
  padding: 2em;
}

.about__sect h1 {
  font-size: 3rem;
}


.about__sect p {
  line-height: 1.5em;
  font-size: 1.2rem;
}


.skills__sect {
   display: flex;
   justify-content: center;
   flex-direction: column;
   padding: 3em;
   background-color: rgb(29, 35, 47);

}


.skills__sect {
  height: auto;
  text-align: center;
}


.skills__sect h2 {
  font-size: 3em;
  margin-bottom: 0.2em;
}

.skills__sect p {
  font-size: 1.5rem;
  color: var(--light-grey);
}


.skills_list_wrapper {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
}

.skills_list_wrapper svg {
   width: 150px;
   height: auto;
   cursor: pointer;
}


.skills_list_wrapper svg:hover {
   transform: scale(1.05);
}


.footer__wrapper {
  height: 200px;
  background-color: var(--light-grey);
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  position: relative;
  bottom: 0;
  right: 0;
}

.footer__wrapper h5 {
  font-size: 2rem;
  color: var(--bg-color-dark);
}

.social-med-links  {
  display: flex;
  gap:1em;
  justify-content: center;
  width: 100%;
}

.social-med-links  a{
  font-weight: 700;
  color: var(--bg-color-dark);
  opacity: 50%;
  font-size: 3rem;
}