@font-face {
  font-family: font1;
  src: url(./assets/fonts/Host_Grotesk/HostGrotesk-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
  font-family: font1;
  transition: 0.3s;
  outline: none;
  border: none;
}

html {scroll-behavior: smooth;}

:root {
  --prim-blue: rgb(9, 41, 126);
  --white: rgb(238, 245, 255);
  --bg-color-dark:  rgb(18, 26, 72);
  --light-grey : rgb(95, 104, 144);
}

::selection {
  display: none;
}

body {
  background-color: var(--bg-color-dark);
  margin: 0;
}

main {
  height: auto;
}

h1, h2, p {
  color: var(--white);
}

section {
  height: 100dvh;
}

.main__header {
  width: 100%;
  text-align: left;
  padding: 10px 1em;
}


.nav_bar_side {
  position: sticky;
  top:0px;
  right: 0;
  width: 100%;
  justify-self: center;
  background-color: rgba(153, 153, 243, 0.292);
  backdrop-filter: blur(14px);
}

.nav_bar_side ul {
  display: flex;
   justify-content: left;
}


.nav_bar_side a {
  display: block;
  font-size:  1.5rem;
  color:  var(--white);
   padding: 10px 16px;
}

.nav_bar_side a:hover {
  background-color: rgba(0, 0, 139, 0.237);
}

.about__sect {
   display: flex;
   justify-content: center;
   align-items: left;
   flex-direction: column;
  height: 60dvh;
  gap: 1em;
  padding: 2em;
}

.about__sect h1 {
  font-size: 3rem;
  font-weight: 300;
}


.about__sect p {
  line-height:1.5em;
  font-size: 1.5rem;
  font-weight: 700;
}


.skills__sect {
   display: flex;
   justify-content: center;
   flex-direction: column;
   padding:  10em 1em ;
   background-color: rgb(29, 35, 47);

}


.skills__sect {
  height: auto;
  text-align: center;
}


.skills__sect h2 {
  font-size: 4em;
  margin-bottom: 0.2em;
}

.skills__sect p {
  font-size: 1.5rem;
  color: var(--light-grey);
}


.skills_list_wrapper {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
}

.skills_list_wrapper svg {
   width: 250px;
   height: auto;
   cursor: pointer;
}


.skills_list_wrapper svg:hover {
   transform: scale(1.05);
}


.projects-sect {
  padding: 5em 1.5em ;
  height: auto;
}

.projects-sect h2 {
  text-align: center;
  font-size: 3rem;
  line-height: 40px;
}


.projects-list {
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  gap: 1em;
  margin-top:3em;
}


.item  {
  background-color: rgb(26, 52, 155);
  width: 350px;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  cursor: pointer;
  padding-bottom: 1em;
}


.card-img {
  aspect-ratio: 16/9;
  width: 100%;
  background-image: url(./assets/images/dummy_img.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.item h3{
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
}

.item button {
   cursor: pointer;
  padding: 10px 15px;
  font-weight: 800;
  margin: 0.5em;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.item button:hover {
  border: 1px solid blue;
  background-color: blue;
}

.item-options {
  padding: 0 1em;
  width: 100%;
  display: flex;
  margin-top: auto;
  flex-direction: column;
}




.footer__wrapper {
  height: 200px;
  background-color: var(--light-grey);
  padding:  5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  
}

.footer__wrapper h5 {
  font-size: 1.5rem;
  color: var(--bg-color-dark);
}

.social-med-links  {
  display: flex;
  gap: 2em;
  justify-content: center;
  width: 100%;
  padding-top: 1em;
  border-top: 1px solid rgba(63, 63, 82, 0.285);
}

.social-med-links  a{
  font-weight: 700;
  color: var(--bg-color-dark);
  opacity: 50%;
  font-size: 3rem;
}

.social-med-links a:hover {
  opacity: 100%;
}


@media only screen and (max-width:1000px) {

  .item {
    flex-grow: 1;
  }
  
}

